<!DOCTYPE HTML>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8" />
<title>Vinergy - CLI Pastebin within VimEnergy</title>
<link rel='shortcut icon' href="/favicon.ico" type="image/x-icon" />
<link type="text/plain" rel="author" href="/humans.txt" />

<div th:if="${#httpServletRequest.getRequestURI.toString()}=='/'">
<link rel="stylesheet" href="/code.css" type="text/css" />
<!--[if lt IE 10]>
<script type="text/javascript">
if(confirm('你的浏览器不支持显示本页内容，点击“确定”去下载火狐，点击“取消”下载谷歌浏览器。'){
  window.location = 'http://www.mozilla.com/en-US/firefox/all.html';
}else{
  window.location = 'http://www.google.com/chrome';
}
</script>
<noscript><meta http-equiv="refresh" content="0; url=http://www.mozilla.com/en-US/firefox/all.html" /></noscript>
<![endif]-->
</div>

<div layout:fragment="body">

</div>

<!-- Start Google Analytics tracking code -->
<!-- End Google Analytics tracking code -->
</html>